@using Syncfusion.Blazor.Notifications

<SfToast @ref="ToastObj"
         NewestOnTop="true"
         ShowProgressBar="true"
         ShowCloseButton="true"
         Timeout=@ToastTimeout
         CssClass="@CssClass"
         Icon="@Icon"
         Width=@GetWidth()>
    <ToastTemplates>
        <Title>
            @ToastTitle
        </Title>
        <Content>
            @ToastContent
        </Content>
    </ToastTemplates>
    <ToastPosition X=@GetPositionX() Y=@GetPositionY() /> 
</SfToast>
