@using Microsoft.AspNetCore.Components.Forms
@using TheStandardBox.Core.Models.Foundations.Standards
@using TheStandardBox.UIKit.Blazor.Models.Components.Labels
@using TheStandardBox.UIKit.Blazor.Models.Components.ViewElements
@using TheStandardBox.UIKit.Blazor.Views.Bases
@using TheStandardBox.UIKit.Blazor.Views.Components.Containers
@using TheStandardBox.UIKit.Blazor.Views.Components.Localizations
@inherits LocalizedComponent
@typeparam TEntity where TEntity: IStandardEntity

@*@if (textViewElements != null)
{
 *@
<EditForm Model=@Entity OnValidSubmit=@OnAddClicked>
    <DataAnnotationsValidator />
    @CreateComponent()
    <ValidationSummary></ValidationSummary>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</EditForm>
